# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
DerivedData/
build/
*.app
*.dSYM
*.xcarchive

# Local archives
Archived Builds/
release/
Quick Open/Quick Open 20*/
Quick Open/JavDB 20*/
